<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Cristian Olmedo</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo"><a href="#">CristianOlmedo</a></div>
        <div class="container">
            <label for="menu-toggle" class="menu-icon">&#9776;</label>
            <ul class="menu">
                <li><a href="#home">HOME</a></li>
                <li><a href="#about">ABOUT ME</a></li>
                <li><a href="#projects">PROJECTS</a></li>
                <li><a href="#contact">CONTACTS</a></li>
            </ul>
        </div>
    </nav>

    <section id="home" class="section">
        <section class="hero">
            <div class="hero-left">
                <h1>Full-Stack Web Developer</h1>
                <p>I'm Cristian Olmedo. I am a Systems Engineer and
                    I specialize in web development as Full-Stack from Colombia.
                </p>
                <div class="social-icons">
                    <a href="www.linkedin.com/in/cristian-giovanny-olmedo-segura-9ab3a1119" target="_blank"><i
                            class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/CristianGiovannyOlmedoSegura" target="_blank"><i
                            class="fab fa-github"></i></a>
                    <a href="https://twitter.com/cristianolmed" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/cristiangiovany.olmedosegura/" target="_blank"><i
                            class="fab fa-facebook" target="_blank"></i></a>
                </div>
            </div>
            <div class="hero-right">
                <img src="your-image.jpg" alt="Your Image">
            </div>
        </section>

        <!-- My Skills -->
        <section class="skills">
            <h2>My Skills</h2>
            <div class="skill-icons">
                <div class="skill">
                    <i class="fab fa-html5"></i>
                    <p>HTML</p>
                </div>
                <div class="skill">
                    <i class="fab fa-css3-alt"></i>
                    <p>CSS</p>
                </div>
                <div class="skill">
                    <i class="fab fa-js"></i>
                    <p>JavaScript</p>
                </div>
                <div class="skill">
                    <i class="fab fa-react"></i>
                    <p>TypeScript</p>
                </div>
                <div class="skill">
                    <i class="fab fa-bootstrap"></i>
                    <p>Bootstrap</p>
                </div>
                <div class="skill">
                    <i class="fab fa-node"></i>
                    <p>Node.js</p>
                </div>
                <div class="skill">
                    <i class="fas fa-database"></i>
                    <p>PostgreSQL</p>
                </div>
                <div class="skill">
                    <i class="fas fa-database"></i>
                    <p>MySQL</p>
                </div>
                <div class="skill">
                    <i class="fab fa-laravel"></i>
                    <p>Laravel</p>
                </div>
                <div class="skill">
                    <i class="fab fa-angular"></i>
                    <p>Angular</p>
                </div>
                <div class="skill">
                    <i class="fab fa-java"></i>
                    <p>Java</p>
                </div>
            </div>
        </section>
    </section>

    <section id="about" class="section"> <!-- Sección ABOUT -->
        <h2>ABOUT ME</h2>
        <section class="about-me">
            <div class="about-me-right">
                <img src="cristian olmedo.jpg" alt="Tu Imagen">
            </div>
            <div class="about-me-left">
                <p>
                    <font color="#000000">Hello! I'm Cristian Olmedo, a passionate systems engineer with a deep interest
                        in Full-Stack web
                        development. Although my work experience is limited, my enthusiasm for learning and my
                        commitment to
                        excellence are unwavering. My main goal is to become a competent and highly skilled Full-Stack
                        web
                        developer. I am committed to constantly learning and improving my technical skills to create
                        innovative and functional web applications.</font>
                </p>

                <!-- Agrega más párrafos de texto según sea necesario -->

                <p>
                    <font color="#000000">If you are looking for a passionate Full-Stack web developer who is willing to
                        learn and grow
                        alongside your team, I would be happy to talk to you! Feel free to contact me through my
                        contacts
                        provided here in my portfolio.</font>
                </p>

                <p>
                    <font color="#000000">Thank you for visiting my portfolio and getting to know me better. I am
                        excited for what the future
                        holds for me in the world of Full-Stack web development and I am ready for new challenges and
                        learning opportunities.</font>
                </p>
            </div>
        </section>
    </section>

    <section id="projects" class="section"> <!-- Sección PROJECTS -->
        <h2>MY PROJECTS</h2>
        <!-- Contenido de la sección PROJECTS -->
    </section>

    <section id="contact" class="section"> <!-- Sección CONTACT -->
        <h2>CONTACTS</h2>
        <section class="contact">
            <p><font color="#000000">If you are interested in contacting me, you can call me, write me an email, or chat with me via Linkedin.
            </font></p>
            <div class="contact-info">
                <div class="contact-item">
                    <i class="fas fa-phone"></i>
                    <p><font color="#000000">+57 3168089895</font></p>
                </div>
                <div class="contact-item">
                    <i class="far fa-envelope"></i>
                    <p><font color="#000000">CRISTIANOLMEDO57@GMAIL.COM</font></p>
                </div>
                <div class="contact-item">
                    <i class="fab fa-linkedin"></i>
                    <p><font color="#000000">Cristian Giovanny Olmedo Segura</font></p>
                </div>
            </div>
        </section>
    </section>

    <footer class="footer">
        <div class="footer-content">
            <p>&copy; All rights reserved</p>
            <p>Created by Cristian Olmedo</p>
        </div>
    </footer>
</body>


</html>